language: rust
sudo: required
dist: bionic

rust:
  - nightly
  - beta
  - stable
cache: cargo
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

before_script:
  - rustup component add rustfmt
  - rustup component add clippy

script:
  - cargo fmt -- --check
  - cargo clippy
  - cargo build
  - cargo test --verbose
  # OAuth server is not available, so comment out for now
  # - cargo run --example test_authorization_header
  # - cargo run --example test_get
  # - cargo run --example test_post

