[package]

name = "oauth-client"
version = "0.0.5"
authors = ["gifnksm <makoto.nksm+github@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/gifnksm/oauth-client-rs"
description = "OAuth client for Rust"
documentation = "https://gifnksm.github.io/oauth-client-rs"

[dependencies]
time = "0.1.0"
url = "0.2.0"
curl = "0.1.0"
log = "0.1.0"
rustc-serialize = "0.2.0"
rust-crypto = "0.2.0"
