[package]
authors = ["gifnksm <makoto.nksm+github@gmail.com>"]
description = "OAuth client for Rust"
license = "MIT OR Apache-2.0"
name = "oauth-client"
readme = "README.md"
repository = "https://github.com/gifnksm/oauth-client-rs"
version = "0.4.0"

[dependencies]
base64 = "0.9"
failure = "0.1"
failure_derive = "0.1"
lazy_static = "1.0"
log = "0.4"
rand = "0.5"
ring = "0.13"
reqwest = "0.8"
time = "0.1"
url = "1.6.0"
